# Configuration file

balance {
    S:fluid.coal.cardrank=
    S:fluid.coal.grammar=
    S:fluid.coal.instability.factor_accessibility=
    S:fluid.coal.instability.factor_flat=
    S:fluid.coal.seabanned=
    S:fluid.corruptedwater.cardrank=
    S:fluid.corruptedwater.grammar=
    S:fluid.corruptedwater.instability.factor_accessibility=
    S:fluid.corruptedwater.instability.factor_flat=
    S:fluid.corruptedwater.seabanned=
    S:fluid.cryotheum.cardrank=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.seabanned=
    S:fluid.ender.cardrank=
    S:fluid.ender.grammar=
    S:fluid.ender.instability.factor_accessibility=
    S:fluid.ender.instability.factor_flat=
    S:fluid.ender.seabanned=
    S:fluid.etchacid.cardrank=
    S:fluid.etchacid.grammar=
    S:fluid.etchacid.instability.factor_accessibility=
    S:fluid.etchacid.instability.factor_flat=
    S:fluid.etchacid.seabanned=
    S:fluid.fluiddeath.cardrank=
    S:fluid.fluiddeath.grammar=
    S:fluid.fluiddeath.instability.factor_accessibility=
    S:fluid.fluiddeath.instability.factor_flat=
    S:fluid.fluiddeath.seabanned=
    S:fluid.fluidpure.cardrank=
    S:fluid.fluidpure.grammar=
    S:fluid.fluidpure.instability.factor_accessibility=
    S:fluid.fluidpure.instability.factor_flat=
    S:fluid.fluidpure.seabanned=
    S:fluid.fluxgoo.cardrank=
    S:fluid.fluxgoo.grammar=
    S:fluid.fluxgoo.instability.factor_accessibility=
    S:fluid.fluxgoo.instability.factor_flat=
    S:fluid.fluxgoo.seabanned=
    S:fluid.fuel.cardrank=
    S:fluid.fuel.grammar=
    S:fluid.fuel.instability.factor_accessibility=
    S:fluid.fuel.instability.factor_flat=
    S:fluid.fuel.seabanned=
    S:fluid.glowstone.cardrank=
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.life_essence.cardrank=
    S:fluid.life_essence.grammar=
    S:fluid.life_essence.instability.factor_accessibility=
    S:fluid.life_essence.instability.factor_flat=
    S:fluid.life_essence.seabanned=
    S:fluid.maddna.cardrank=
    S:fluid.maddna.grammar=
    S:fluid.maddna.instability.factor_accessibility=
    S:fluid.maddna.instability.factor_flat=
    S:fluid.maddna.seabanned=
    S:fluid.maddnamutant.cardrank=
    S:fluid.maddnamutant.grammar=
    S:fluid.maddnamutant.instability.factor_accessibility=
    S:fluid.maddnamutant.instability.factor_flat=
    S:fluid.maddnamutant.seabanned=
    S:fluid.mana.cardrank=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.oil.cardrank=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.seabanned=
    S:fluid.ooze.cardrank=
    S:fluid.ooze.grammar=
    S:fluid.ooze.instability.factor_accessibility=
    S:fluid.ooze.instability.factor_flat=
    S:fluid.ooze.seabanned=
    S:fluid.purelava.cardrank=
    S:fluid.purelava.grammar=
    S:fluid.purelava.instability.factor_accessibility=
    S:fluid.purelava.instability.factor_flat=
    S:fluid.purelava.seabanned=
    S:fluid.pyrotheum.cardrank=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.seabanned=
    S:fluid.redplasma.cardrank=
    S:fluid.redplasma.grammar=
    S:fluid.redplasma.instability.factor_accessibility=
    S:fluid.redplasma.instability.factor_flat=
    S:fluid.redplasma.seabanned=
    S:fluid.redstone.cardrank=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.seabanned=
    S:"fluid.witchery:brew.cardrank"=
    S:"fluid.witchery:brew.grammar"=
    S:"fluid.witchery:brew.instability.factor_accessibility"=
    S:"fluid.witchery:brew.instability.factor_flat"=
    S:"fluid.witchery:brew.seabanned"=
    S:"fluid.witchery:brewliquid.cardrank"=
    S:"fluid.witchery:brewliquid.grammar"=
    S:"fluid.witchery:brewliquid.instability.factor_accessibility"=
    S:"fluid.witchery:brewliquid.instability.factor_flat"=
    S:"fluid.witchery:brewliquid.seabanned"=
    S:"fluid.witchery:fluiddisease.cardrank"=
    S:"fluid.witchery:fluiddisease.grammar"=
    S:"fluid.witchery:fluiddisease.instability.factor_accessibility"=
    S:"fluid.witchery:fluiddisease.instability.factor_flat"=
    S:"fluid.witchery:fluiddisease.seabanned"=
    S:"fluid.witchery:fluidspirit.cardrank"=
    S:"fluid.witchery:fluidspirit.grammar"=
    S:"fluid.witchery:fluidspirit.instability.factor_accessibility"=
    S:"fluid.witchery:fluidspirit.instability.factor_flat"=
    S:"fluid.witchery:fluidspirit.seabanned"=
    S:"fluid.witchery:hollowtears.cardrank"=
    S:"fluid.witchery:hollowtears.grammar"=
    S:"fluid.witchery:hollowtears.instability.factor_accessibility"=
    S:"fluid.witchery:hollowtears.instability.factor_flat"=
    S:"fluid.witchery:hollowtears.seabanned"=
    S:ic2.fluidbiogas.cardrank=
    S:ic2.fluidbiogas.grammar=
    S:ic2.fluidbiogas.instability.factor_accessibility=
    S:ic2.fluidbiogas.instability.factor_flat=
    S:ic2.fluidbiomass.cardrank=
    S:ic2.fluidbiomass.grammar=
    S:ic2.fluidbiomass.instability.factor_accessibility=
    S:ic2.fluidbiomass.instability.factor_flat=
    S:ic2.fluidbiomass.seabanned=
    S:ic2.fluidconstructionfoam.cardrank=
    S:ic2.fluidconstructionfoam.grammar=
    S:ic2.fluidconstructionfoam.instability.factor_accessibility=
    S:ic2.fluidconstructionfoam.instability.factor_flat=
    S:ic2.fluidconstructionfoam.seabanned=
    S:ic2.fluidcoolant.cardrank=
    S:ic2.fluidcoolant.grammar=
    S:ic2.fluidcoolant.instability.factor_accessibility=
    S:ic2.fluidcoolant.instability.factor_flat=
    S:ic2.fluidcoolant.seabanned=
    S:ic2.fluiddistilledwater.cardrank=
    S:ic2.fluiddistilledwater.grammar=
    S:ic2.fluiddistilledwater.instability.factor_accessibility=
    S:ic2.fluiddistilledwater.instability.factor_flat=
    S:ic2.fluiddistilledwater.seabanned=
    S:ic2.fluidhotcoolant.cardrank=
    S:ic2.fluidhotcoolant.grammar=
    S:ic2.fluidhotcoolant.instability.factor_accessibility=
    S:ic2.fluidhotcoolant.instability.factor_flat=
    S:ic2.fluidhotcoolant.seabanned=
    S:ic2.fluidpahoehoelava.cardrank=
    S:ic2.fluidpahoehoelava.grammar=
    S:ic2.fluidpahoehoelava.instability.factor_accessibility=
    S:ic2.fluidpahoehoelava.instability.factor_flat=
    S:ic2.fluidpahoehoelava.seabanned=
    S:ic2.fluidsteam.cardrank=
    S:ic2.fluidsteam.grammar=
    S:ic2.fluidsteam.instability.factor_accessibility=
    S:ic2.fluidsteam.instability.factor_flat=
    S:ic2.fluidsuperheatedsteam.cardrank=
    S:ic2.fluidsuperheatedsteam.grammar=
    S:ic2.fluidsuperheatedsteam.instability.factor_accessibility=
    S:ic2.fluidsuperheatedsteam.instability.factor_flat=
    S:ic2.fluiduumatter.cardrank=
    S:ic2.fluiduumatter.grammar=
    S:ic2.fluiduumatter.instability.factor_accessibility=
    S:ic2.fluiduumatter.instability.factor_flat=
    S:ic2.fluiduumatter.seabanned=
}


entity {
    I:entity.book.id=219
    I:entity.falling.id=218
    I:entity.meteor.id=217
}


general {
    B:crafting.linkeffects.disarm.enabled=true
    B:crafting.linkeffects.generate_platform.enabled=true
    B:crafting.linkeffects.intra_linking.enabled=true
    B:crafting.linkeffects.maintain_momentum.enabled=true
    B:crafting.linkeffects.relative.enabled=true
    B:options.binder.enabled=true
    B:options.bookstand.enabled=true
    B:options.command.spawnmeteor.enabled=false
    B:options.desk.enabled=true
    B:options.deskback.enabled=true
    B:options.fastRainbows=true
    B:options.folder.enabled=true
    B:options.inkmixer.enabled=true
    S:options.instability.difficulty=
    B:options.instability.enabled=true
    B:options.lectern.enabled=true
    B:options.linkbook.enabled=true
    B:options.portfolio.enabled=true
    I:options.providerId=1210950779
    B:options.receptacle.enabled=true
    B:options.renderlabels=false
    B:options.respawnInAges=true
    B:options.villageDeskGen=true
    I:villager.archivist.id=1210950779
}


